.signout {
    font-size: large;
    font-weight: bold;
    color: lightpink;
    text-align: center;
    height: 50px;
}

.goodbye {
    width: 280px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid lightpink;
    border-radius: 8%;
}